/* Generic Special Styling _____________________________________________________ */
.lightText{
    color: #7cb4eb;
}


/* Project Container/Box Layouts _____________________________________________________ */
.projectWindow{
    height: 72vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-right:0px;
    padding: 0 15px;
}

@media only screen and (min-width: 768px) {
    .projectWindow{
        padding-right:0px;
    }
}


/* Project Display Layout _____________________________________________________ */
.displayBox{
    border: 2px solid #feffff;
}

.displayBox img {
    width:100%;
    margin-bottom:10px;
}

.displayBox h2 {
    padding: 0px 40px;
}

.displayBox h2, .displayBox h3{
    text-align: center;
}

.displayBox h3{
    margin:0;
    margin-top:5px;
}

.displayBox .listSection .highlight{
    display: inline-block;
    padding-right: 20px;
}

.displayBox i{
    color: #333;
    padding-right:5px;
}

.displayBox .tags{
    color: #bdd9f5;
    text-align: center;
}
  
.awardSection{
    margin-bottom:10px;
}


.awardSection .highlight{
    display: inline-block;
}

.awardSection .header{
    margin-top:10px;
}

.listSection{
    margin-bottom:10px;
}

.exitButton{
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: #3a8ee2;
}

.exitButton h3{
    margin-top:3px;
}

.linkSection{
    text-align:center;
    margin-bottom:10px;
}

.linkSection h4{
    display:inline;
}

.linkSection a:hover i{
    color: rgb(222, 222, 222);
}

a i {
    margin-right:10px;
}

/* Project Selection Item Layout _____________________________________________________ */
.itemBox{
    display: flex;
    overflow: hidden;
    border: 2px solid #feffff;
    margin:0px;
    margin-bottom:10px;
    height:120px;
}

.itemBox:hover{
    border: 2px solid #bdd9f5;
    cursor: pointer;
}

.itemBox h3, .topTags{
    display:inline;
}

.itemBox p{
    margin-bottom:0px;
}

.itemThumbnail {
    margin:0 0;
    padding:0;
    overflow: hidden;
}

.itemThumbnail img {
    height:100%;
}

.imageGradient{
    position:absolute;
    top:0;
    right:0;
    height:100%;
    width:20%;
    background: -moz-linear-gradient(right,  rgba(255,255,255,0) 0%, #f7f7f7 80%);
    background: -webkit-gradient(linear, top left, top right, color-stop(0%,rgba(255,255,255,0)), color-stop(80%,#f7f7f7));
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,#f7f7f7 80%);
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,#f7f7f7 80%);
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,#f7f7f7 80%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%, #f7f7f7 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f7f7f7',GradientType=0 );
}

.itemTitle{
    height: 2em;
    overflow: hidden;
}

.itemTitle:after{
    content: "";
    text-align: right;
    position: absolute;
    top: 0;
    right: 0;
    width: 15%;
    height: 2.2em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #f7f7f7 70%);
}

.itemInfo{
    height: 100%;
    margin: 10px 10px;
    padding: 10px;
}

/* Text Fade Out */
.itemDescription {
    position: relative;
    height: 2.8em;
    overflow:hidden;
}

.itemDescription:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 15%;
    height: 1.4em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #f7f7f7 50%);
}

.bottomTags{
    text-align: right;
    margin-right:10px;
}