/* Generic Special Styling _____________________________________________________ */
.lightText{
    color: #7cb4eb;
}

/* Selectable Item Box _____________________________________________________ */
.itemBox{
    display: flex;
    overflow: hidden;
    border: 2px solid #feffff;
    margin:0px;
    height:120px;
}

.itemBox:hover{
    border: 2px solid #bdd9f5;
}

.itemBox h3, .topTags{
    display:inline;
}

.itemBox h3, .itemBox p{
    margin:0px;
}

.itemThumbnail {
    margin:0 0;
    padding:0;
}

.itemThumbnail img {
    width:100%;
    height:100%;
}

.imageGradient{
    position:absolute;
    top:0;
    right:0;
    height:100%;
    width:20%;
    background: -moz-linear-gradient(right,  rgba(255,255,255,0) 0%, #ebf4fc 80%);
    background: -webkit-gradient(linear, top left, top right, color-stop(0%,rgba(255,255,255,0)), color-stop(80%,#ebf4fc));
    background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,#ebf4fc 80%);
    background: -o-linear-gradient(left,  rgba(255,255,255,0) 0%,#ebf4fc 80%);
    background: -ms-linear-gradient(left,  rgba(255,255,255,0) 0%,#ebf4fc 80%);
    background: linear-gradient(to right,  rgba(255,255,255,0) 0%, #ebf4fc 80%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ebf4fc',GradientType=0 );
}

.itemInfo{
    height: 100%;
    margin: 10px 10px;
}

/* Text Fade Out */
.fadeOut {
    position: relative;
    height: 2.8em;
    overflow:hidden;
}

.fadeOut:after {
    content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    height: 1.4em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #ebf4fc 50%);
}

.bottomTags{
    text-align: right;
}