.App {
  text-align: left;
}

.App-header{
  margin-bottom:50px;
}

.sectionHeader h2{
  text-align: center;
  margin:0;
}

.sectionHeader {
  background-color: #1b68b5;
  padding:10px;
}

.importantTextArea{
  text-align: center;
}