.App {
  text-align: left;
}

.App-header{
  margin-bottom:50px;
}

.sectionHeader h2{
  text-align: center;
  margin:0;
}

.sectionHeader {
  background-color: #1b68b5;
  padding:10px;
}

/* Generic Stuff */
.importantTextArea{
  text-align: center;
}

canvas{
  margin: 0 auto;
}

.linkIcon {
  width: 40px;
  height: 40px;
}

/* Contact Container */
.contactContainer{
  text-align:left;
}

.linkBox{
  width:300px;
  margin:0 auto;
  padding-bottom:15px;
}

.contactContainer h3{
  margin:10px 10px;
  display: inline-block;
}